/* Stiluri CSS pentru elementul '.game' */
.game {
  margin: 70px auto;
  background-color: #2e1437; /* Dark Purple */
  border: 4px solid #51425f; /* Dark Purple border */
  width: 1000px; 
  height: 800px; 
  padding: 50px ;
  display: grid;
  grid-template-rows:  50px auto auto 100px 50px; /* Adăugat */
  justify-content: center;
}

/* Stiluri CSS pentru elementele '.dealer' și '.player' */
.dealer, .player {
  padding: 15px;
  margin: 10px;
  text-align: center;
  border: 2px solid #51425f; /* Dark Purple border */
  margin-top: 40px;
  display: flex;
  flex-direction: column; /* Modificare */
  align-items: center; /* Modificare */
  border-radius: 10px;
}

/* Stiluri CSS pentru elementele '.dealer-cards' și '.player-cards' */
.dealer-cards, .player-cards {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Stiluri CSS pentru elementele '.total-dealer' și '.total-player' */
.total-dealer, .total-player {
  margin-top: 30px; /* Modificare */
  font-size: 30px;
  color: #948e99; /* Gray */
}

/* Stiluri CSS pentru butoanele din '.helpers' */
.helpers button {
  margin: 5px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f38630; /* Orange */
  color: white;
  border: 2px solid #fa6900; /* Dark Orange border */
  border-radius: 20px;
  cursor: pointer;
}

/* Stiluri CSS pentru containerul '.helpers' */
.helpers {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* Stiluri CSS pentru elementul '.result' */
/* Stiluri CSS pentru elementul '.result' */
.result {
  padding: 15px 10px 10px 10px;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #2e1437; /* Border Color Dark Purple */
  background-color: #51425f; /* Background Color Dark Purple */
  width: 200px;
  color: #e7eed0; /* Text Color Light Purple */
  font-weight: bold;
  height: 30px;
  font-size: 18px;
}



/* Stiluri CSS pentru elementele '.cards' și '.second-card' */
.cards {
  flex: 1fr;
  margin-left: 20px;
  font-size: 40px;
  border-style: solid;
  border-color: #51425f; /* Dark Purple border */
  padding: 5px;
  color: #f38630; /* Orange text */
  border-radius: 10px;
}

.second-card {
  background-color: #cad1c3; /* Light Green background */
  color: #51425f; /* Dark Purple text */
  font-style: bold;
  border-radius: 10px;
  /* Alte stilizări dorite pentru a doua carte */
}

/* Stiluri CSS pentru elementul '.bet' */
.bet {
  display: grid;
  grid-template-columns: 30px 60px auto;
  height: 40px; /* Reducerea înălțimii */
  grid-column-gap: 10px; /* Spațiu între coloane */
  grid-row-gap: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

/* Stiluri CSS pentru eticheta cu id-ul 'Abel' */
#Abel {
  font-size: 20px;
  font-weight: bolder;
  color: white; /* White text */
}

/* Stiluri CSS pentru elementul '.balance' */
.balance {
  font-size: 20px;
  font-style: bold;
  color: white; /* White text */
}

/* Stiluri CSS pentru notificările 'insurance-notification' și 'no-blackjack-notification' */
#insurance-notification, #no-blackjack-notification {
  background-color: #e7eed0; /* Light Purple */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 2px solid #51425f; /* Dark Purple */
  border-radius: 10px;
  text-align: center;
  color: #51425f; /* Dark Purple */
}

/* Stiluri CSS pentru paragrafele din notificare */
#insurance-notification p, #no-blackjack-notification p {
  margin-bottom: 10px;
  color: #51425f; /* Dark Purple */
}

/* Stiluri CSS pentru inputurile din notificare */
#insurance-notification .insurance-input, #no-blackjack-notification .insurance-input {
  margin-bottom: 10px; /* Adaugăm spațiu între input și butoane */
}

/* Stiluri CSS pentru etichetele din notificare */
#insurance-notification label, #no-blackjack-notification label {
  display: block; /* Facem ca eticheta să fie un element block pentru a ocupa întreaga lățime disponibilă */
  color: #51425f; /* Dark Purple */
}

/* Stiluri CSS pentru inputurile din notificare */
#insurance-notification input, #no-blackjack-notification input {
  width: 100%; /* Asigurăm ca inputul să ocupe întreaga lățime disponibilă */
  box-sizing: border-box; /* Includem padding-ul și border-ul în lățimea totală a inputului */
  padding: 5px; /* Adăugăm puțin spațiu în interiorul inputului */
  border-radius: 5px; /* Rotunjim colțurile inputului */
  border: 1px solid #ccc; /* Adăugăm un border pentru a evidenția inputul */
  margin-bottom: 10px;
}

/* Stiluri CSS pentru butonul de răspuns din notificare */
#response {
  background-color: #e7eed0; /* Light Purple */
  border: 1px solid #51425f; /* Dark Purple */
  color: #51425f; /* Dark Purple */
  height: 30px;
  width: 60px;
  border-radius: 8px;
}


/* Stiluri CSS pentru elementul '.hand' */
.hand {
  margin-bottom: 20px;
}

/* Stiluri CSS pentru containerul de cărți */
.cards-container-1, .cards-container-2 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Stiluri CSS pentru cărțile divizate */
.cards-split {
  flex: 1fr;
  margin-left: 20px;
  font-size: 30px;
  border-style: solid;
  border-color: #51425f; /* Dark Purple border */
  padding: 5px;
  color: #f38630; /* Orange text */
  border-radius: 10px;
}

/* Stiluri CSS pentru totalul mâinilor divizate */
.total-split-1, .total-split-2 {
  font-weight: bold;
  margin-top: 10px;
  margin-top: 20px; /* Modificare */
  font-size: 20px;
  color: #f38630; /* Orange text */
}

/* Stiluri CSS pentru mâna 1 */
.hand-1{
  margin-right: 100px;
}

/* Stiluri CSS pentru mâna 2 */
.hand-2 {
  margin-left: 100px;
}

/* Stiluri CSS pentru evidențierea mâinii */
.highlight {
  border: 2px solid yellow; /* Yellow border */
  background-color: lightyellow; /* Light Yellow background */
}


/* Stiluri CSS pentru butoanele dezactivate */
.helpers button:disabled {
  background-color: #f0f0f0; /* Light Gray background */
  border: 1px solid #ccc; /* Light Gray border */
  color: #999; /* Light Gray text color */
  cursor: not-allowed; /* Cursorul devine "not-allowed" când butonul este dezactivat */
  opacity: 0.7; /* Opacitate redusă pentru a indica că butonul este dezactivat */
}
