.game {
  margin: 70px auto;
  background-color: lightblue;
  border: 2px solid black;
  width: 1000px; 
  height: 800px; 
  padding: 50px ;
  display: grid;
  grid-template-rows:  50px auto auto 100px 50px; /* Adaugat */
  justify-content: center;
}

.dealer, .player {
  padding: 20px;
  margin: 10px;
  text-align: center;
  border: 1px solid black;
  margin-top: 40px;
  display: flex;
  flex-direction: column; /* Modificare */
  align-items: center; /* Modificare */
}

.dealer-cards, .player-cards {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-dealer, .total-player {
  margin-top: 30px; /* Modificare */
  font-size: 30px;
}

.helpers button {
  margin: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

.helpers {
  display: flex;
  align-items: center;
  padding: 10px;
}

.result {
  padding: 17px 10px 10px 10px;
  margin: 10px 10px 10px 200px;
  text-align: center;
  border: 1px solid black;
  width: 200px; /* Poți ajusta dimensiunea în funcție de necesități */
  vertical-align: center;
  color: red;
  font-weight: bold;
  height: 30px;
  font-size: 18px;
}
.cards {
  flex: 1fr;
  margin-left: 20px;
  font-size: 40px;
  border-style: solid;
  border-color: black;
  padding: 5px;
  color: red;
}

.second-card {
  background-color: lightgray; /* Schimbă fundalul pentru a doua carte */
  color: black; /* Schimbă culoarea textului pentru a doua carte */
  font-style: bold;
  /* Alte stilizări dorite pentru a doua carte */
}


.bet {
  display: grid;
  grid-template-columns: 30px 60px auto;
  height: 40px; /* Reducerea înălțimii */
  grid-column-gap: 10px; /* Spațiu între coloane */
  grid-row-gap: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

#Abel {
  font-size: 20px;
  font-weight: bolder;
}

.balance {
  font-size: 20px;
  font-style: bold;
}

#insurance-notification, #no-blackjack-notification {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  text-align: center;
}

#insurance-notification p {
  margin-bottom: 10px;
}

#insurance-notification .insurance-input {
  margin-bottom: 10px; /* Adaugăm spațiu între input și butoane */
}

#insurance-notification label {
  display: block; /* Facem ca eticheta să fie un element block pentru a ocupa întreaga lățime disponibilă */
}

#insurance-notification input {
  width: 100%; /* Asigurăm ca inputul să ocupe întreaga lățime disponibilă */
  box-sizing: border-box; /* Includem padding-ul și border-ul în lățimea totală a inputului */
  padding: 5px; /* Adăugăm puțin spațiu în interiorul inputului */
  border-radius: 5px; /* Rotunjim colțurile inputului */
  border: 1px solid #ccc; /* Adăugăm un border pentru a evidenția inputul */
  margin-bottom: 10px;
}

#response {
  background-color: white;
  border: 1px solid  black;
  height: 30px;
  width: 60px;
  border-radius: 8px;
}
